- provide(:title, 'Student Home')

%h2 Welcome !
%p 
  You can contact the following people for research assistance:
  %ul
    %li <strong>Rachael Burrello</strong>: 336williams@gmail.com or (828) 513-6708
    %li <strong>Grace Salzer</strong>: salzer@live.unc.edu

%h2 Updates
%p 
  %em April 6, 2012 -
  Resources are now working properly.

%p
  %em March 27, 2012 -
  Papers are online and accessible once again. Upload paper functionality is working properly. Resources area will be rolled out within the next day or two.
