-#
  %div#navContent
    .carousel#myCarousel
      / Carousel items
      .carousel-inner
        .item.active.glossy
          %h1 Headline
          %p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula eleifend vulputate. Pellentesque blandit faucibus odio, eget scelerisque leo lacinia sit amet. Aliquam id viverra nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis interdum vestibulum tempor. Etiam nulla leo, vulputate nec vestibulum faucibus, semper quis velit. Suspendisse euismod velit non magna molestie id sollicitudin diam dignissim.
        .item.glossy
          %h1 Headline Two
          %p Lorem ipsum dolor sit amet, consectetur apidiscing elit.
      / Carousel nav
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›



.river
  %ul.thumbnails
    %li
      .thumbnail
        %img{:alt => "", :src => "http://placehold.it/160x120"}
    %h2 Asheville City Schools Annual Report
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula eleifend vulputate. Pellentesque blandit faucibus odio, eget scelerisque leo lacinia sit amet. Aliquam id viverra nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra
  %ul.thumbnails
    %li
      .thumbnail
        %img{:alt => "", :src => "http://placehold.it/160x120"}
    %h2 27 Views of Asheville
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula eleifend vulputate. Pellentesque blandit faucibus odio, eget scelerisque leo lacinia sit amet. Aliquam id viverra nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra
  %ul.thumbnails
    %li
      .thumbnail
        %img{:alt => "", :src => "http://placehold.it/160x120"}
    %h2 Research Symposium Notes
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula eleifend vulputate. Pellentesque blandit faucibus odio, eget scelerisque leo lacinia sit amet. Aliquam id viverra nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra

/  %div.alert.alert-info
/   %a.close{"data-dismiss" => "alert"} &times;
/    %h4.alert-heading Heads up!
/    This website is in active development and certain features of the site may not function as intended.



