<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @paper.title %>
</p>

<p>
  <b>Attachment:</b>
  <%= @paper.attachment %>
</p>

<p>
  <b>Year written:</b>
  <%= @paper.year_written %>
</p>


<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
