@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

.roundedCorners(@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

body {
  margin: 10px 0 0 0;
  background: #E1E5E8;

  // Begin Navigation 
  #logo {
      width: 940px;
      height: 109px;
      background: #FBF8FF image-url("global/header-main.gif") no-repeat;
      .roundedCorners(10px 10px 0 0);
    }

  #navigationContainer {
    .roundedCorners(8px 8px 0 0);
  
    #navigation-menu {
      // #gradient.vertical(#262E3B, lighten(#262E3B, 30%));
      // .roundedCorners(8px 8px 0 0);
      height: 36px;
      text-align: center;
      background: red image-url("global/header-nav-repeat.gif") repeat-x; 
      border-bottom: 1px solid #250405;

      .nav-pills {
        font: 15px helvetica, arial;
        text-transform: uppercase;
        font-weight: bold;
        display: -moz-inline-box; /* FF2 or lower */
        display: inline-block;
        /* IE6/7 inline-block hack */
        *display: inline;
        *zoom: 1;

        li:first-child {
          border-left: 1px solid rgba(0, 0, 0, .35);
        }

        li:last-child {
          border-right: 1px solid rgba(255, 255, 255, .11);
        }

        li {

          a {
            text-shadow: 0 1px 0 rgba(0, 0, 0, .60);
            color: #EDE6E9;
            .roundedCorners(0);
            margin: 0 !important;        
            padding-top: 11px !important; 
            padding-bottom: 11px !important;
            border-left: 1px solid rgba(255, 255, 255, .11);
            border-right: 1px solid rgba(0, 0, 0, .35);


            &:hover {
              background-color: rgba(0, 0, 0, .15);
            }
          }
        }
      }
    }
  }

  // Begin Container 

  div.container {
    border-top: 0px !important;
    border: 1px solid #CECECE;
    //background: #FBFEFF url(global/container-top-repeat.gif) repeat-x top;
    #gradient.vertical(darken(#FFF, 6%), #FBFEFF);

    .span8 {
      padding: 10px 0 0 0;
      margin-left: 10px !important;

      .river {
        .thumbnails {

          li {
            padding: 0 10px 0 0;
          }

          h2 {
            margin: 8px 0 -5px 0 !important;
          }

          p {
            text-align: justify;
          }
        }
      }
    }
  

    .span4 {
      width: 280px;
      padding: 10px 0 0 0;

      #mailingList {
        margin: 0 0 10px 0;

        .widget-header {
          #gradient.vertical(lighten(#010101, 40%), lighten(#010101, 10%);
          padding: 5px 5px 5px 8px;
          color: #fff;
          text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
        }

        .widget-content {
          border: 1px solid darken(#E8E8E8, 10%);
          padding: 5px 5px 5px 8px;
          background-color: lighten(#ccc, 14%);
        }
      }

      .nav {
        border: 1px solid #D5DED9;

        .nav-header {
          background-color: #D5DED9;
          color: #594F4F;
        }
      }
    }
  }
  
  .footer {

    a {
      color: #B5B5B5;
    }

    a:hover {
      background-color: none;
    }

    padding: 5px 0 5px 0;
    text-align: center;
    color: #B5B5B5;
  }
}