// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
@import "twitter/bootstrap/mixins";

.roundedCorners(@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

/*
#carousel-chart1 {
  height: 300px;
}

.carousel {
  .carousel-inner {
    width: 86% !important;
    margin: 0 auto;
  }

	.carousel-inner .item {
		height: 187px;
		padding: 8px 0 0 0;
		.roundedCorners(10px);

	}

	.carousel-control {
		top: 80px !important;
    width: 22px;
	}
}
*/
