%header.container{:role => "banner"}
  %div#logo
  %nav#navigationContainer.navigation-menu
    %div#navigation-menu
      %ul.nav.nav-pills
        %li
          = link_to 'Home', '/'
        %li
          = link_to 'Issues', '/'
        %li
          = link_to 'Goals', '/'
        %li
          = link_to 'News & Events', '/'
        %li
          = link_to 'Resources', '/'