!!! 5
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag	"application", :media => "all"
    = javascript_include_tag 	"application"
    %meta{:charset => "utf-8"}
    = csrf_meta_tags
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
  %body

    / Header
    = render 'layouts/header'
    %div.container

      / Alerts and Notices
      - if notice
        %div.alert
          = notice
      - if alert
        %div.alert
          = alert

      / Content Area
      %section.span8
        = yield

      / Sidebar
      %section.span4
        = yield :sidebar
        %section#mailingList
          %header.widget-header
            %h4 Join Our Mailing List
          %div.widget-content
            Sup
            %br 
            Sup two
            %br 
            Sup three
            %br 
            Sup four
        %section#mailingList
          %header.widget-header
            %h4 Join Our Mailing List
          %div.widget-content
            Sup
            %br 
            Sup two
            %br 
            Sup three
            %br 
            Sup four
        %section#mailingList
          %header.widget-header
            %h4 Join Our Mailing List
          %div.widget-content
            Sup
            %br 
            Sup two
            %br 
            Sup three
            %br 
            Sup four

    / Footer
    = render 'layouts/footer'

